/*footer css Yevhen*/
.footer {
    background-color: #16120f;
    padding-top: 0;
    padding-bottom: 0;
    /*display: inline-block;
    max-height: 100%;*/
}

@media (min-width: 851px) {
    .footer__container {
        border-bottom: 0.1em solid #323232;
        display: flex;
        width: 1170px;
        margin-right: 307px;
        margin-left: 307px;
        padding: 30px 0;
    }

    .footer__sidebar-content .logo {
        /*width: 126px; moved to html*/
        height: auto;
        margin: auto;
    }

    .footer__row {
        max-width: 67%;
        width: calc(100% + 20px);
        padding: 35px 0 0 563px;
    }

    .sub__footer {
        background-color: #16120f;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
    }

    .sub__footer_left-block {
        padding-left: 307px;
    }

    .rights,
    .copiright {
        color: #a9a9a9;
        letter-spacing: .1em;
        font-size: 14px;
        line-height: 1.4;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 500px;
    }

    .rights {
        margin-left: 300px;
        display: contents;
    }

    .sub__footer_right-block {
        /*width: 150px;*/
        padding-left: 409px;
    }

    .footer__menu a {
        color: white;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 550;
        margin-left: 20px;
    }

    .footer__menu a:hover {
        color: #d62324;
    }

    nav.footer__menu {
        position: absolute;
    }
}

/*footer mobile*/

@media (max-width: 850px) {
    .footer {
        border-top: 0.1em solid #323232;
    }

    .footer__sidebar {
        text-align: center;
    }

    .footer__sidebar-content {
        padding-top: 20%;
    }

    .footer__row {
        max-width: 66%;
        padding: 35px 0 25px 28%;
        text-align: center;
        line-height: 3;
    }

    .footer__menu a {
        color: white;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 550;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .footer__container {
        border-bottom: 0.1em solid #323232;
        margin: 0 24px;
    }

    .rights,
    .copiright {
        color: #a9a9a9;
        letter-spacing: .1em;
        font-size: 14px;
        line-height: 1.4;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        margin: 5px 0 10px 10px;
        text-align: center;
    }

    .sub__footer {
        padding-bottom: 10px;
    }
}

/*footer mobile end Yevhen*/

aside.schedule__title {
    display: block;
}

aside.schedule__title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #d62324;
    left: 48%;
    bottom: 70%;
}

section.schedule {
    text-align: center;
    padding: 100px 0;
    background-color: rgb(241, 237, 225);
}

h2.schedule__h2 {
    color: #d62324;
    font-size: 26px;
    line-height: 1.43;
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .05em;
    text-transform: none;
}

section.schedule aside.schedule__title {
    font-size: 56px;
    color: #16120f;
    line-height: 1.2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    padding-bottom: 20px;
}

table.schedule__table {
    text-align: start;
    border: 0.1em solid #a9a9a9;
    /*border-collapse: collapse;*/
    position: inherit;
    margin: 65px 363px;
    padding: 15px;
    border-left: none;
    border-bottom: none;
}

tr.schedule__cols-names {
    background: #d62324;
}

td {
    padding: 15px 20px;
    border: 0.1em solid #a9a9a9;
    width: 282.5px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .05em;
    color: #707070;
    text-transform: none;
    border-right: none;
    border-top: none;
}

tr th {
    color: #fff;
    font-size: 24px;
    line-height: 1.4;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 15px 20px;
    border: 0.1em solid #a9a9a9;
    border-collapse: collapse;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

td.schedule__day {
    font-size: 18px;
    line-height: 1.56;
    font-family: Roboto, sans-serif;
    font-weight: 500 !important;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #16120f;
    text-transform: none;
    height: min-content;
}