footer {
    background-color: #16120f;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    max-height: 100%;
}   
@media (min-width: 851px){ 
.footer {
    border-bottom: 0.1em solid #323232;
    display: flex;
    width: 1170px;
    margin-right: 307px;
    margin-left: 307px;
    padding: 30px 0;
}
.footer__sidebar-content .logo {
    width: 126px; 
    height: auto;
    margin: auto;
}
.footer__row {
    max-width: 67%;
    width: calc(100% + 20px);
    padding: 35px 0 0 563px;
}
.sub_footer {
    background-color: #16120f;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}
.text_block {
    padding-left: 307px;
}
.rights, .copiright {
    color: #a9a9a9;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 1.4;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 500px;
}
.rights {
    margin-left: 300px;
    display: contents;
}

.rights_block {
    width: 150px;
    padding-left: 409px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 550;
    margin-left: 20px;
}
.menu a:hover {
    color: #d62324;
}
}
        /*mobile*/
@media (max-width: 850px){
img.logo {
    width: 34%;
    padding: 50px 34%;
}
.footer__row {
    max-width: 39%;
    padding: 35px 0 25px 28%;
    text-align: center;
    line-height: 3;
}
.menu a {
    color: white;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 550;
    margin-left: 20px;
    margin-bottom: 10px;
}
.footer {
    border-bottom: 0.1em solid #323232;
}
.rights, .copiright {
    color: #a9a9a9;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 1.4;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin: 5px 0 10px 10px;
    text-align: center;
}
.sub_footer {
    padding-bottom: 10px;
}
}
        /*mobile end*/

title {
    display: block;
}
title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #d62324;
    left: 48%;
    bottom: 53%;
}
section.schedule {
    text-align: center;
    padding: 100px 0;
    background-color: rgb(241, 237, 225);
}
h2.h_sched {    
    color: #d62324;
    font-size: 26px;
    line-height: 1.43;
    font-family: Homemade Apple;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .05em;
    color: #786251;
    text-transform: none;
}
section.schedule title {
    font-size: 56px;
    color: #16120f;
    line-height: 1.2;
    font-family: Rajdhani,sans-serif;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    padding-bottom: 20px;
}
table.schedule {
    text-align: start;
    border: 0.1em solid #a9a9a9;
    /*border-collapse: collapse;*/
    position: inherit;
    margin: 65px 363px;
    padding: 15px;    
    border-left: none;
    border-bottom: none;
}
tr.first {
    background: #d62324;    
}
td {
    padding: 15px 20px;
    border: 0.1em solid #a9a9a9;
    width: 282.5px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .05em;
    color: #707070;
    text-transform: none;
    border-right: none;
    border-top: none;
}
tr th {
    color: #fff;
    font-size: 24px;
    line-height: 1.4;
    font-family: Rajdhani,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 15px 20px;
    border: 0.1em solid #a9a9a9;
    border-collapse: collapse;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
td.day {
    font-size: 18px;
    line-height: 1.56;
    font-family: Roboto,sans-serif;
    font-weight: 500 !important;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #16120f;
    text-transform: none;
    height: min-content;
}